/* Reset básico para visualização */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* Estilização da Nav */
nav {
    background-color: #ffbae8;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Estrutura do Main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* REGRAS DA ATIVIDADE NO CARD (ARTICLE) */
.card-1d {
    background-color: #ffffff; /* 1. Fundo claro */
    padding: 20px;             /* 2. Padding de 20px */
    border: 2px solid #d62828; /* 3. Borda de 2px sólida */
    margin: 30px;              /* 4. Margin de 30px */
    
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Destaque de caixa */
}

/* 5. Título centralizado */
.titulo-card {
    text-align: center;
    color: #d62828;
}

/* Estilo para o aside e footer */
.info-extra {
    background-color: #e0e0e0;
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
    max-width: 200px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffc6fc;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.discografia{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.discografia img{
    width: 250px;
    transition: transform 0.5s ease;
    box-shadow: 5px 5px 15px rgb(211, 117, 187);
}

.discografia img:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 25px rgb(219, 19, 159);
}